In [1]:
import pandas as pd

In [2]:
# importing Bitcoin csv
bitcoin = pd.read_csv('../data/bitcoin.csv')

In [3]:
bitcoin.head()

         Date     Open     High      Low    Close  Adj Close     Volume
0  2017-01-01   963.66  1003.08   958.70   998.33     998.33  147775008
1  2017-01-02   998.62  1031.39   996.70  1021.75    1021.75  222184992
2  2017-01-03  1021.60  1044.08  1021.60  1043.84    1043.84  185168000
3  2017-01-04  1044.40  1159.42  1044.40  1154.73    1154.73  344945984
4  2017-01-05  1156.73  1191.10   910.42  1013.38    1013.38  510199008

In [4]:
# as I want to show just one value per day, I choos the 'Adj close' Value:
bitcoin.drop(columns = ['Open', 'High', 'Low', 'Close', 'Volume'], inplace = True)

In [5]:
bitcoin.dtypes

Date          object
Adj Close    float64
dtype: object

In [6]:
# changing tipe of Date from object to Datetime
bitcoin['Date'] = pd.to_datetime(bitcoin['Date'])

In [7]:
bitcoin.dtypes

Date         datetime64[ns]
Adj Close           float64
dtype: object

In [8]:
bitcoin.rename(columns = {'Adj Close':'Index'}, inplace = True)

In [9]:
bitcoin.isnull().values.any()

False

In [10]:
# bitcoin data is ready: Date column and its corresponding value.
bitcoin.head()

        Date    Index
0 2017-01-01   998.33
1 2017-01-02  1021.75
2 2017-01-03  1043.84
3 2017-01-04  1154.73
4 2017-01-05  1013.38

In [11]:
# Saving the dataframe into a new csv file
bitcoin.to_csv('../data/bitcoin_clean.csv')