In [1]:
import pandas as pd
import re

In [2]:
# importing Microsoft csv
microsoft = pd.read_csv('../data/microsoft.csv')

In [3]:
microsoft.head()

         Date  Close/Last    Volume      Open        High        Low
0  11/19/2019     $150.39  23960160   $150.88     $151.33   $150.195
1  11/18/2019     $150.34  21554760   $150.07     $150.55    $148.98
2  11/15/2019     $149.97  23508810   $148.93     $149.99    $148.27
3  11/14/2019     $148.06  19755100   $147.02     $148.41       $147
4  11/13/2019     $147.31  17444230   $146.74   $147.4625    $146.28

In [4]:
# as I want to show just one value per day, I choos the 'Close/Last' Value:
microsoft.drop(columns = [' Volume', ' Open', ' High', ' Low'], inplace = True)

In [5]:
microsoft.rename(columns = {' Close/Last':'Value'}, inplace = True)

In [6]:
microsoft.dtypes

Date     object
Value    object
dtype: object

In [7]:
# changing tipe of Date from object to Datetime
microsoft['Date'] = pd.to_datetime(microsoft['Date'])

In [8]:
# Removing $ symbol
microsoft['Value'] = microsoft['Value'].apply(lambda x: re.sub('\$', '', x))

In [9]:
# changing tipe of Value from object to float
microsoft['Value'] = microsoft['Value'].astype('float64')

In [10]:
microsoft.isnull().values.any()

False

In [11]:
# Sorting data by Date
microsoft.sort_values('Date', ascending = True, inplace = True)

In [12]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
microsoft = microsoft.loc[microsoft['Date'] >= '2017-01-01']

In [13]:
# Resetting index
microsoft.reset_index(drop = True, inplace = True)

In [14]:
# Microsoft data is ready: Date column and its corresponding value.
microsoft.head()

        Date  Value
0 2017-01-03  62.58
1 2017-01-04  62.30
2 2017-01-05  62.30
3 2017-01-06  62.84
4 2017-01-09  62.64

In [15]:
# Saving the dataframe into a new csv file
microsoft.to_csv('../data/cleaned_data/microsoft_clean.csv')