In [2]:
import pandas as pd

In [5]:
# importing Euro csv
euro = pd.read_csv('../data/euro_index.csv')

In [6]:
euro.head()

         Date    Open    High     Low   Close
0  2015-01-02  175.30  175.63  174.75  175.46
1  2015-01-05  175.02  175.14  174.48  174.78
2  2015-01-06  174.76  175.30  174.15  174.48
3  2015-01-07  174.52  174.79  173.97  174.27
4  2015-01-08  174.28  174.47  173.59  173.90

In [7]:
euro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 5 columns):
Date     1267 non-null object
Open     1267 non-null float64
High     1267 non-null float64
Low      1267 non-null float64
Close    1267 non-null float64
dtypes: float64(4), object(1)
memory usage: 49.6+ KB

In [8]:
# As I want just one column, I will chose the 'Close column'
euro.drop(columns = ['Open', 'High', 'Low'], inplace = True)

In [10]:
# Renaming column
euro.rename(columns = {'Close':'Index'}, inplace = True)

In [9]:
# changing tipe of Date from object to Datetime
euro['Date'] = pd.to_datetime(euro['Date'])

In [12]:
euro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 2 columns):
Date     1267 non-null datetime64[ns]
Index    1267 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.9 KB

In [15]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
euro = euro.loc[euro['Date'] >= '2017-01-01']

In [17]:
# resetting index
euro.reset_index(drop = True, inplace = True)

In [22]:
# Rounding values to 2 decimals
euro['Index'] = euro['Index'].round(decimals = 2)

In [23]:
# euro data is ready: Date column and its corresponding index.
euro.head()

        Date   Index
0 2017-01-02  171.77
1 2017-01-03  171.26
2 2017-01-04  171.78
3 2017-01-05  172.57
4 2017-01-06  172.77

In [24]:
# Saving the dataframe into a new csv file
euro.to_csv('../data/cleaned_data/euro_clean.csv')