In [1]:
import pandas as pd

In [25]:
# importing Dollar csv
dollar = pd.read_csv('../data/dollar_index.csv')

In [26]:
dollar.head()

         Date   Open   High    Low  Close  Volume   OpenInt
0  2015-01-02  90.84  91.49  90.80  91.46   22546  118207.0
1  2015-01-05  91.24  91.78  91.23  91.42   21642  123382.0
2  2015-01-06  91.36  91.81  91.12  91.72   22663  126083.0
3  2015-01-07  91.77  92.27  91.65  92.02   22300  127196.0
4  2015-01-08  92.02  92.53  91.99  92.34   28521  127235.0

In [27]:
dollar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 7 columns):
Date       1266 non-null object
Open       1266 non-null float64
High       1266 non-null float64
Low        1266 non-null float64
Close      1266 non-null float64
Volume     1266 non-null int64
OpenInt    1264 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.4+ KB

In [29]:
# As I want just one column, I will chose the 'Close column'
dollar.drop(columns = ['Open', 'High', 'Low', 'Volume', 'OpenInt'], inplace = True)

In [30]:
# Renaming column
dollar.rename(columns = {'Close':'Index'}, inplace = True)

In [32]:
# changing tipe of Date from object to Datetime
dollar['Date'] = pd.to_datetime(dollar['Date'])

In [33]:
dollar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 2 columns):
Date     1266 non-null datetime64[ns]
Index    1266 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.9 KB

In [34]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
dollar = dollar.loc[dollar['Date'] >= '2017-01-01']

In [35]:
# Rounding values to 2 decimals
dollar['Index'] = dollar['Index'].round(decimals = 2)

In [36]:
dollar.dtypes

Date     datetime64[ns]
Index           float64
dtype: object

In [38]:
# resetting index
dollar.reset_index(drop = True, inplace = True)

In [39]:
# dollar data is ready: Date column and its corresponding index.
dollar.head()

        Date   Index
0 2017-01-03  103.23
1 2017-01-04  102.52
2 2017-01-05  101.44
3 2017-01-06  102.20
4 2017-01-09  101.85

In [40]:
# Saving the dataframe into a new csv file
dollar.to_csv('../data/cleaned_data/dollar_clean.csv')