In [1]:
import pandas as pd

In [2]:
# importing Yen csv
yen = pd.read_csv('../data/yen_index.csv')

In [3]:
yen.head()

         Date    Open    High     Low   Close
0  2015-01-02  239.46  241.23  238.66  240.46
1  2015-01-05  240.98  243.85  240.78  243.75
2  2015-01-06  243.75  246.77  243.24  246.33
3  2015-01-07  246.35  246.47  244.77  245.24
4  2015-01-08  245.24  245.49  244.23  244.71

In [4]:
yen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 5 columns):
Date     1267 non-null object
Open     1267 non-null float64
High     1267 non-null float64
Low      1267 non-null float64
Close    1267 non-null float64
dtypes: float64(4), object(1)
memory usage: 49.6+ KB

In [5]:
# As I want just one column, I will chose the 'Close column'
yen.drop(columns = ['Open', 'High', 'Low'], inplace = True)

In [6]:
# Renaming column
yen.rename(columns = {'Close':'Index'}, inplace = True)

In [7]:
# changing tipe of Date from object to Datetime
yen['Date'] = pd.to_datetime(yen['Date'])

In [9]:
yen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 2 columns):
Date     1267 non-null datetime64[ns]
Index    1267 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.9 KB

In [13]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
yen = yen.loc[yen['Date'] >= '2017-01-01']

In [14]:
# resetting index
yen.reset_index(drop = True, inplace = True)

In [17]:
# Rounding values to 2 decimals
yen['Index'] = yen['Index'].round(decimals = 2)

In [18]:
# yen data is ready: Date column and its corresponding index.
yen.head()

        Date   Index
0 2017-01-02  281.93
1 2017-01-03  281.72
2 2017-01-04  281.35
3 2017-01-05  284.07
4 2017-01-06  282.24

In [19]:
# Saving the dataframe into a new csv file
yen.to_csv('../data/cleaned_data/yen_clean.csv')