In [19]:
import pandas as pd
import re

In [3]:
# importing Apple csv
apple = pd.read_csv('../data/apple.csv')

In [4]:
apple.head()

         Date  Close/Last    Volume      Open      High         Low
0  11/19/2019     $266.29  19069600    $267.9      $268   $265.3926
1  11/18/2019      $267.1  21700900    $265.8   $267.43     $264.23
2  11/15/2019     $265.76  25093670   $263.68   $265.78     $263.01
3  11/14/2019     $262.64  22395560   $263.75   $264.88      $262.1
4  11/13/2019     $264.47  25817590   $261.13   $264.78     $261.07

In [8]:
# as I want to show just one value per day, I choos the 'Close/Last' Value:
apple.drop(columns = [' Volume', ' Open', ' High', ' Low'], inplace = True)

In [ ]:
apple.rename(columns = {' Close/Last':'Value'}, inplace = True)

In [9]:
apple.dtypes

Date           object
 Close/Last    object
dtype: object

In [10]:
# changing tipe of Date from object to Datetime
apple['Date'] = pd.to_datetime(apple['Date'])

In [22]:
# Removing $ symbol
apple['Value'] = apple['Value'].apply(lambda x: re.sub('\$', '', x))

In [23]:
# changing tipe of Value from object to float
apple['Value'] = apple['Value'].astype('float64')

In [24]:
apple.isnull().values.any()

False

In [29]:
# Sorting data by Date
apple.sort_values('Date', ascending = True, inplace = True)

In [32]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
apple = apple.loc[apple['Date'] >= '2017-01-01']

In [33]:
# Resetting index
apple.reset_index(drop = True, inplace = True)

In [34]:
# Apple data is ready: Date column and its corresponding value.
apple.head()

        Date   Value
0 2017-01-03  116.15
1 2017-01-04  116.02
2 2017-01-05  116.61
3 2017-01-06  117.91
4 2017-01-09  118.99

In [35]:
# Saving the dataframe into a new csv file
apple.to_csv('../data/cleaned_data/apple_clean.csv')