In [9]:
import pandas as pd
import re

In [10]:
# importing Amazon csv
amazon = pd.read_csv('../data/amazon.csv')

In [11]:
amazon.head()

         Date  Close/Last   Volume       Open         High          Low
0  11/19/2019    $1752.79  2274535   $1756.99     $1760.68     $1743.03
1  11/18/2019    $1752.53  2841907    $1738.3      $1753.7     $1722.71
2  11/15/2019    $1739.49  3931141   $1760.05     $1761.68     $1732.86
3  11/14/2019     $1754.6  2269417   $1751.43   $1766.5931     $1749.56
4  11/13/2019    $1753.11  2926892   $1773.39        $1775   $1747.3216

In [12]:
# as I want to show just one value per day, I choos the 'Close/Last' Value:
amazon.drop(columns = [' Volume', ' Open', ' High', ' Low'], inplace = True)

In [13]:
amazon.rename(columns = {' Close/Last':'Value'}, inplace = True)

In [14]:
amazon.dtypes

Date     object
Value    object
dtype: object

In [15]:
# changing tipe of Date from object to Datetime
amazon['Date'] = pd.to_datetime(amazon['Date'])

In [16]:
# Removing $ symbol
amazon['Value'] = amazon['Value'].apply(lambda x: re.sub('\$', '', x))

In [17]:
# changing tipe of Value from object to float
amazon['Value'] = amazon['Value'].astype('float64')

In [18]:
amazon.isnull().values.any()

False

In [19]:
# Sorting data by Date
amazon.sort_values('Date', ascending = True, inplace = True)

In [20]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
amazon = amazon.loc[amazon['Date'] >= '2017-01-01']

In [21]:
# Resetting index
amazon.reset_index(drop = True, inplace = True)

In [22]:
# Amazon data is ready: Date column and its corresponding value.
amazon.head()

        Date   Value
0 2017-01-03  753.67
1 2017-01-04  757.18
2 2017-01-05  780.45
3 2017-01-06  795.99
4 2017-01-09  796.92

In [23]:
# Saving the dataframe into a new csv file
amazon.to_csv('../data/cleaned_data/amazon_clean.csv')