In [1]:
import pandas as pd
import re

In [2]:
# importing Alibaba csv
alibaba = pd.read_csv('../data/alibaba.csv')

In [3]:
alibaba.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-11-19,109.830002,110.680000,107.220001,108.820000,108.820000,46841000
1,2014-11-20,107.809998,112.440002,107.260002,109.820000,109.820000,36489000
2,2014-11-21,113.209999,113.500000,110.434998,110.730003,110.730003,27432000
3,2014-11-24,112.000000,113.930000,111.550003,113.919998,113.919998,20646000
4,2014-11-25,114.940002,115.169998,112.330002,113.470001,113.470001,23485000

In [5]:
# as I want to show just one value per day, I choos the 'Adj Close' Value:
alibaba.drop(columns = ['Volume', 'Open', 'High', 'Low', 'Close'], inplace = True)

In [6]:
alibaba.rename(columns = {'Adj Close':'Value'}, inplace = True)

In [7]:
alibaba.dtypes

Date      object
Value    float64
dtype: object

In [8]:
# changing tipe of Date from object to Datetime
alibaba['Date'] = pd.to_datetime(alibaba['Date'])

In [15]:
# Rounding values to 2 decimals
alibaba['Value'] = alibaba['Value'].round(decimals = 2)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
alibaba.isnull().values.any()

False

In [17]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
alibaba = alibaba.loc[alibaba['Date'] >= '2017-01-01']

In [18]:
# Resetting index
alibaba.reset_index(drop = True, inplace = True)

In [19]:
# Alibaba data is ready: Date column and its corresponding value.
alibaba.head()

        Date  Value
0 2017-01-03  88.60
1 2017-01-04  90.51
2 2017-01-05  94.37
3 2017-01-06  93.89
4 2017-01-09  94.72

In [20]:
# Saving the dataframe into a new csv file
alibaba.to_csv('../data/cleaned_data/alibaba_clean.csv')