In [2]:
import pandas as pd

In [7]:
# importing Yuan csv
yuan = pd.read_csv('../data/usd_yuan.csv')

In [8]:
yuan.head()

         date; value
0  1981-01-02;1.5300
1  1981-01-05;1.5400
2  1981-01-06;1.5300
3  1981-01-07;1.5300
4  1981-01-08;1.5300

In [9]:
# splitting the values into two columns
yuan['Date'], yuan['Value'] = yuan['date; value'].str.split(';', 1).str

In [15]:
# Dropping the initial column
yuan.drop('date; value',axis=1, inplace = True)

In [17]:
# changing tipe of Date from object to Datetime
yuan['Date'] = pd.to_datetime(yuan['Date'])

In [20]:
# changing tipe of Value from object to float
yuan['Value'] = yuan['Value'].astype('float64')

In [21]:
yuan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9811 entries, 0 to 9810
Data columns (total 2 columns):
Date     9811 non-null datetime64[ns]
Value    9811 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 153.4 KB

In [22]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
yuan = yuan.loc[yuan['Date'] >= '2017-01-01']

In [23]:
# Rounding values to 2 decimals
yuan['Value'] = yuan['Value'].round(decimals = 2)

In [26]:
# resetting index
yuan.reset_index(drop = True, inplace = True)

In [27]:
# Yuan data is ready: Date column and its corresponding value.
yuan.head()

        Date  Value
0 2017-01-03   6.96
1 2017-01-04   6.93
2 2017-01-05   6.88
3 2017-01-06   6.92
4 2017-01-09   6.94

In [28]:
# Saving the dataframe into a new csv file
yuan.to_csv('../data/cleaned_data/yuan_clean.csv')