In [1]:
import pandas as pd
import re

In [2]:
# importing Google csv
google = pd.read_csv('../data/google.csv')

In [3]:
google.head()

         Date  Close/Last   Volume       Open         High          Low
0  11/19/2019    $1315.46  1269372    $1327.7      $1327.7      $1312.8
1  11/18/2019     $1320.7  1488083   $1332.22   $1335.5288      $1317.5
2  11/15/2019    $1334.87  1782955   $1318.94     $1334.88   $1314.2796
3  11/14/2019    $1311.46  1194305    $1297.5        $1317     $1295.65
4  11/13/2019       $1298   853861   $1294.07      $1304.3     $1293.51

In [4]:
# as I want to show just one value per day, I choos the 'Close/Last' Value:
google.drop(columns = [' Volume', ' Open', ' High', ' Low'], inplace = True)

In [5]:
google.rename(columns = {' Close/Last':'Value'}, inplace = True)

In [6]:
google.dtypes

Date     object
Value    object
dtype: object

In [7]:
# changing tipe of Date from object to Datetime
google['Date'] = pd.to_datetime(google['Date'])

In [8]:
# Removing $ symbol
google['Value'] = google['Value'].apply(lambda x: re.sub('\$', '', x))

In [9]:
# changing tipe of Value from object to float
google['Value'] = google['Value'].astype('float64')

In [10]:
google.isnull().values.any()

False

In [11]:
# Sorting data by Date
google.sort_values('Date', ascending = True, inplace = True)

In [12]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
google = google.loc[google['Date'] >= '2017-01-01']

In [13]:
# Resetting index
google.reset_index(drop = True, inplace = True)

In [14]:
# Google data is ready: Date column and its corresponding value.
google.head()

        Date   Value
0 2017-01-03  786.14
1 2017-01-04  786.90
2 2017-01-05  794.02
3 2017-01-06  806.15
4 2017-01-09  806.65

In [15]:
# Saving the dataframe into a new csv file
google.to_csv('../data/cleaned_data/google_clean.csv')