In [2]:
import pandas as pd
import re

In [3]:
# importing Facebook csv
fb = pd.read_csv('../data/facebook.csv')

In [4]:
fb.head()

         Date  Close/Last    Volume      Open      High       Low
0  11/19/2019     $199.32  19070290    $197.4      $200   $196.86
1  11/18/2019      $197.4  16176110   $194.56   $198.63   $193.05
2  11/15/2019      $195.1  11530230   $194.26    $195.3   $193.38
3  11/14/2019     $193.15   9059897   $192.93   $194.03   $191.45
4  11/13/2019     $193.19  11009800    $194.7    $195.7   $192.74

In [5]:
# as I want to show just one value per day, I choos the 'Close/Last' Value:
fb.drop(columns = [' Volume', ' Open', ' High', ' Low'], inplace = True)

In [6]:
fb.rename(columns = {' Close/Last':'Value'}, inplace = True)

In [7]:
fb.dtypes

Date     object
Value    object
dtype: object

In [8]:
# changing tipe of Date from object to Datetime
fb['Date'] = pd.to_datetime(fb['Date'])

In [9]:
# Removing $ symbol
fb['Value'] = fb['Value'].apply(lambda x: re.sub('\$', '', x))

In [10]:
# changing tipe of Value from object to float
fb['Value'] = fb['Value'].astype('float64')

In [11]:
fb.isnull().values.any()

False

In [12]:
# Sorting data by Date
fb.sort_values('Date', ascending = True, inplace = True)

In [14]:
# As Bitcoin data starts from 2017/01/01, I will keep just the data from that date.
fb = fb.loc[fb['Date'] >= '2017-01-01']

In [15]:
# Resetting index
fb.reset_index(drop = True, inplace = True)

In [16]:
# Facebook data is ready: Date column and its corresponding value.
fb.head()

        Date   Value
0 2017-01-03  116.86
1 2017-01-04  118.69
2 2017-01-05  120.67
3 2017-01-06  123.41
4 2017-01-09  124.90

In [17]:
# Saving the dataframe into a new csv file
fb.to_csv('../data/cleaned_data/facebook_clean.csv')